<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,123}</string>
                <key>spriteSourceSize</key>
                <string>{137,123}</string>
                <key>textureRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,123}</string>
                <key>spriteSourceSize</key>
                <string>{137,123}</string>
                <key>textureRect</key>
                <string>{{137,0},{137,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>figure.png</string>
            <key>size</key>
            <string>{274,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe1dfb774ec565bd3b0344ad3afafac:2436cd1349d01518078cfb3afa8f540c:93594639301b3b71a2de9648ad06cbc9$</string>
            <key>textureFileName</key>
            <string>figure.png</string>
        </dict>
    </dict>
</plist>
